<footer class="footer">
  <div class="container footer-container">
    <div class="footer__copyright">
      <h4 class="footer__copyright_title">&copy; Victor Smirnov</h4>
      <h5 class="footer__copyright_description">Fullstack web-developer</h5>
    </div>
    <div class="footer__socials">
      <h5 class="footer__socials_title">Social networks profiles:</h5>
      <div class="footer__socials_icons"><a class="footer__socials_link" href="#!">
          <svg class="footer__socials_icon">
            <use class="icon__instagram-icon" xlink:href="assets/img/icons/icons.svg#instagram-icon"></use>
          </svg></a><a class="footer__socials_link" href="#!">
          <svg class="footer__socials_icon">
            <use class="icon__facebook-icon" xlink:href="assets/img/icons/icons.svg#facebook-icon"></use>
          </svg></a><a class="footer__socials_link" href="#!">
          <svg class="footer__socials_icon">
            <use class="icon__vk-icon" xlink:href="assets/img/icons/icons.svg#vk-icon"></use>
          </svg></a><a class="footer__socials_link" href="#!">
          <svg class="footer__socials_icon">
            <use class="icon__linkedin-icon" xlink:href="assets/img/icons/icons.svg#linkedin-icon"></use>
          </svg></a><a class="footer__socials_link" href="#!">
          <svg class="footer__socials_icon">
            <use class="icon__github-icon" xlink:href="assets/img/icons/icons.svg#github-icon"></use>
          </svg></a></div>
    </div>
    <div class="footer__contacts"><a href="mailto:victorsmirnov67@gmail.com"> 
        <button class="footer__contacts_btn" type="button">Contact Me</button></a>
      <h5 class="footer__contacts_text">Write to me to order or find out the cost of layout of your project</h5>
    </div>
  </div>
</footer>
