<header class="header">
  <video preload autoplay muted loop id="videobackground">
    <source src="assets/videos/Rocky mountains partially covered by snow.mp4" type="video/mp4">
    <source src="assets/img/bg-image.jpg" type="image/jpeg">Your browser does not support the video tag.
  </video>
  <div class="container header-container">
    <div class="header-content">
      <h1 class="header-content__title">Victor Smirnov</h1>
      <h4 class="header-content__subtitle">freelancer, fullstack web&nbsp;developer,<br>web-site creation</h4>
      <a class="header-content__control" id="scroll-down" (click)="scroll('content')">
        <svg class="header-content__control_icon">
          <use class="icon__chevron-down" xlink:href="assets/img/icons/icons.svg#chevron-down"></use>
        </svg>
      </a>
    </div>
  </div>
</header>