<section class="project-page" *ngIf="project">
  <div class="container project-page__container">
    <h2 class="project-page__title">{{ project.name }}</h2>
    <img class="project-page__image" src="assets/img/{{ project.image }}" alt="{{ project.name }}" />
    <p class="project-page__description">{{ project.description }}</p>
    <div class="project-page__link">Address:&nbsp;&nbsp;
      <a href="#!">site.com</a>
    </div>
    <a routerLink="/home">
      <button class="project-page__btn" type="buttom">← return to home</button>
    </a>
  </div>
</section>
<vs-footer></vs-footer>